* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ===== Common ===== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  border-radius: 25px;
  background: #171100;
}

/* ===== Header ===== */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .menu {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  position: relative;
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav li.active a,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  position: absolute;
  content: "";
  display: block;
  left: 21px;
  bottom: -6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .sign-up-btn {
  min-width: 144px;
  border-radius: 24.5px;
}

.header .action {
  margin-left: 49px;
}

/* ===== Hero =====  */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero-cta {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .image {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 14px;
}

.hero-summary .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #fff9e8;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85;
}

.hero-summary .info .sub-title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero .content-block {
  width: 52%;
  padding-left: 130px;
}

.content-block .title {
  margin-top: 64px;
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 5.8rem;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.content-block p.desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}

.content-block .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.content-block .btn-cta {
  min-width: 180px;
  line-height: 64px;
  border-radius: 32px;
  background: var(--primary-color);
}

.content-block .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.content-block .play-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.content-block .desc.stats {
  margin: 8px 0 0 -28px;
}

.content-block .stats strong {
  margin: 0 14px 0 28px;
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 4.4rem;
  line-height: 1.22;
}

/* ===== Course ===== */
.course {
  padding: 200px 0 200px 0;
}

.course .heading {
  display: flex;
  align-items: center;
}

.course .sub-title {
  color: #171100;
  font-family: Sen, sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.course .desc {
  margin-top: 16px;
  max-width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.66;
}

.course .control {
  display: flex;
  margin-left: auto;
}

.course .heading .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 18px;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}

.course .arrow:hover {
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* ===== Course-list ===== */
.course .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.course .course-item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course .course-list .thumb {
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
}

.course .course-item .info {
  padding: 16px 22px 22px;
}

.course .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course .course-item .star {
  display: flex;
  align-items: center;
}

.course .course-item .star span {
  margin-left: 6px;
  color: #fea31b;
  font-size: 1.6rem;
}

.course-item .head .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.course-item .info .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.85;
}

.course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.course-item .foot .value {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
}

.course-item a.btn-book:hover {
  background: var(--primary-color);
}
