* {
  box-sizing: border-box;
}

:root {
  --primary-color: #171100;
}

html {
  font-size: 62, 5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
  border-radius: 25px;
  background: var(--primary-color);
}

/* Header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .menu {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  position: relative;
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav li.active,
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-color);
}

.nav li.active a::after {
  position: absolute;
  content: "";
  display: block;
  left: 21px;
  bottom: -6px;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-color);
}

.header .sign-up-btn {
  min-width: 144px;
  border-radius: 24.5px;
}

.header .action {
  margin-left: 49px;
}
